*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font: 16px/1.5 acumin-pro, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}

/* ---UTILS------------------ */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2.4rem;
}
.flex {
  display: flex;
}
.w-full {
  flex: 1;
}
.my-2 {
  margin: 2rem 0;
}
/* ---END UTILS------------------ */

/* header */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar .nav-item {
  position: relative;
}

.nav-bar .nav-item a {
  display: block;
  padding: 1rem;
}

.nav-bar .nav-item:hover > a {
  color: rgb(233, 79, 23);
}

.nav-bar .nav-item:hover::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: calc(50% - 0.5rem);
  width: 1rem;
  height: 3px;
  background-color: rgb(233, 79, 23);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .sub-nav {
  display: block;
}

.dropdown .sub-nav {
  min-width: 250px;
  padding: 0;
  list-style: none;
  background-color: #e7e7e7;
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  animation: fade-down 1s cubic-bezier(0, 1.12, 0.26, 0.96);
}

.dropdown .sub-nav li a,
.side-nav .nav-item a {
  font-size: 0.8rem;
  font-weight: 400;
  color: #999999;
}

.dropdown .sub-nav li a:hover,
.side-nav .nav-item a:hover {
  color: rgb(233, 79, 23);
}

.jumbotron {
  position: relative;
  padding: 5rem 0;
  background-image: linear-gradient(
      to bottom,
      rgba(247, 97, 43, 0.8),
      rgba(247, 97, 43, 0.8)
    ),
    url("./images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron h1 {
  width: 50%;
  font-size: 2.4rem;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* faculty styling */
.faculty {
  display: flex;
  background-color: #e7e7e7;
  color: #999999;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.faculty * {
  margin: 0;
  padding: 1rem;
}

.faculty .icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #999999;
}

/* side-nav */
.side-nav {
  list-style: none;
  padding: 0;
}

.side-nav .nav-header {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.side-nav .nav-item a {
  font-size: 0.8789rem;
  font-weight: 400;
}
/* side-nav */

/* main styling */
main {
  background-color: #e7e7e7;
  padding: 1rem;
  margin-left: 2rem;
}
/* end main styling */

/* footer styling */
footer {
  background-color: rgb(233, 79, 23);
}

footer .univ-info {
  background-color: #e7e7e7;
  color: #999999;
  padding: 1.4rem 0;
}

footer .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
/* end footer styling */

/* animations */
@keyframes fade-down {
  from {
    top: 80%;
    opacity: 0;
  }
  to {
    top: 100%;
    opacity: 1;
  }
}
